.Link {
    color: #FF6060;
    font-size: 24px;
    padding-left: 60px;
 }

 .Link.active {
    text-decoration: underline;
 }
 
 .Header_Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
 }

 .Header_Link {
   gap: 30px;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
 }

 .Header_Logo {
    width: 80%;
 }