
.Banner_Container {
    width: 100%;
    height: 223px;
    margin: 70px 0;
    object-fit: cover;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      margin: 20px 0;
      height: 150px;
   }
  }
  
  .Banner_Img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    filter: brightness(0.8);
    @media (max-width: 768px) {
      width: 95%;
 }
  }
  
  .Banner_Text {
    position: absolute;
    color: white;
    font-size: 40px;
    text-align: center;

   @media (max-width: 768px) {
    font-size: 25px;
 }
  }